<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnStr" value="server=.;user id=sa;Password=123456;database=NORTHWND;persist security info=True"/>
    <add key="TemplateEntity" value="Template\Entity.tt"/>
    <add key="TemplateDataAccess" value="Template\DataAccess.tt"/>
    <add key="Theme" value="Cyan"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>